name: Test for issue 160
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: uraimo/run-on-arch-action@feature-qemuinfo
        name: Test
        id: runcmd
        with:
          arch: s390x
          distro: ubuntu_latest
          install: |
            apt-get update -q -y
            apt-get install -y cmake make g++ git
          run: |
            git clone https://github.com/RoaringBitmap/CRoaring.git
            cd CRoaring
            cmake -DCMAKE_BUILD_TYPE=Release -DENABLE_ROARING_TESTS=ON -B build
            cmake --build build -j=2
            ctest --output-on-failure --test-dir build
