on: [push]

jobs:
  testactions_job:
    runs-on: ubuntu-18.04
    name: A job to test the multi architecture actions
    steps:
    - name: Build with Swift on armv7
      uses: uraimo/run-on-arch-action@master
      with:
        architecture: armv7
        distribution: ubuntu18.04
        run: |
          apt update
          apt install -y clang libicu-dev libcurl4-nss-dev curl
          apt install -y curl
          curl -OL https://github.com/uraimo/buildSwiftOnARM/releases/download/5.0.3/swift-5.0.3-armv7-Ubuntu1804.tgz
          tar xzf swift-5.0.3-armv7-Ubuntu1804.tgz
          echo "import Glibc\n\nprint(\"Test!\")" > test.swift
          ./usr/bin/swift run test.swift
